<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board</title>
</head>

<body>
    <h1>Message Board</h1>
    <a href="/new"><button class="new-button">New Message</button></a>
    <% messages.forEach((message)=> { %>
    <div class="message">
        <h2 class="user"><%= message.user %></h2>
        <p class="text"><%= message.text %></p>
        <p class="date"><%= message.added %></p>
        <button class="open-button">Open Message</button>
    </div>
    <% }); %>
</body>

</html>